.previewWrapper {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  background-color: #fff9db;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 12px;
  position: relative;

  .menuBtn {
    position: absolute;
    right: 0;
    top: 0;
  }

  .pageTitle {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1.5px solid orange;
    margin-bottom: 10px;
  }

  .quizTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .questionsList {
    width: 100%;
    height: calc(100vh - 220px);
    overflow-y: scroll;

    .questionPreview {
      margin-bottom: 14px;
      padding: 12px;
      background-color: #ffffff;
      border-radius: 12px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      p {
        font-size: 16px;
        color: #333333;
        margin-bottom: 5px;
      }

      .answersTable {
        width: 100%;
        border-collapse: collapse;
        margin: 12px 0px;

        th,
        td {
          padding: 12px;
          text-align: center;
          border-bottom: 1px solid #ddd;
          font-size: 14px;
        }

        th {
          background-color: #ffffff;
          color: #333333;
          font-weight: bold;
        }

        td {
          background-color: #f4f6f8;
          color: #333333;
        }

        .correctAnswerRow td {
          background-color: #d4edda;
          color: #155724;
          font-weight: bold;
        }
      }
    }
  }
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 600px;

  .spinner {
    width: 48px;
    height: 48px;
    border: 6px solid #ffe0b2;
    border-top: 6px solid #fb8c00;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}