.addQuizContainer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;

  .addQuizForm {
    width: 100%;
    border-radius: 14px;
    padding: 10px 12px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);


    .formGroupTop {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;

      .QuizTitle,
      .numberOfQuestions {
        display: flex;
        flex-direction: column;
        width: 48%;
      }

      p {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      input {
        padding: 10px;
        border-radius: 12px;
        border: 1px solid rgb(156, 156, 156);
        background-color: white;
        transition: border-color 0.1s;
        font-size: 20px;

        &:focus {
          border-color: orange;
          outline: none;
        }
      }
    }

    .QuizList {
      width: 100%;
      height: calc(100vh - 320px);
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: auto;

      .questionSection {
        padding: 12px;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        .questionCounter {
          width: 100%;
          height: fit-content;
          display: flex;
          justify-content: end;

          h3 {
            font-size: 20px;
          }
        }

        .formGroup {
          margin-bottom: 7px;

          .defBtn {
            color: #b38100;
            border-color: #facc15;
            background-color: white;
            font-weight: 600;

            &:hover {
              background-color: #fff3c4;
              border-color: #facc15;
            }
          }

          label {
            font-size: 18px;
            margin-bottom: 5px;
            display: block;
          }

          input,
          select {
            font-size: 18px;
            width: 100%;
            padding: 10px;
            border-radius: 12px;
            border: 1px solid rgb(156, 156, 156);
            background-color: white;
            transition: border-color 0.3s;

            &:focus {
              border-color: orange;
              outline: none;
            }
          }
        }
      }

    }

    .quizListBtngroup {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      .previewBtn {
        color: #b38100;
        border-color: #facc15;
        background-color: white;
        font-weight: 600;

        &:hover {
          background-color: #fff3c4;
          border-color: #facc15;
        }
      }
    }

  }

  .formGroupSelsect {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    label {
      font-size: 18px;
      margin-bottom: 5px;
    }

    input {
      padding: 4px 4px 4px 8px;
      border-radius: 8px;
      border: 1px solid rgb(156, 156, 156);
      background-color: white;
      transition: border-color 0.3s;
      font-size: 18px;

      &:focus {
        border-color: orange;
        outline: none;
      }
    }

  }

  .answerInput {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    input[type='text'] {
      flex: 1;
      margin-right: 5px;
      padding: 8px;
      border-radius: 12px;
      border: 1px solid rgb(156, 156, 156);
      background-color: white;
      font-size: 18px;
      transition: border-color 0.3s;

      &:focus {
        border-color: orange;
        outline: none;
      }
    }

    input[type='radio'] {
      margin-right: 5px;
      accent-color: #b38100;
      cursor: pointer;
    }

    label {
      font-size: 16px;
    }
  }

}



.previewWrapper {
  width: 100%;
  padding: 10px 12px;
  border-radius: 14px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);


  .confirmBtn {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .defBtn {
      color: #b38100;
      border-color: #facc15;
      background-color: white;
      font-weight: 600;

      &:hover {
        background-color: #fff3c4;
        border-color: #facc15;
      }
    }
  }
}



.waitingPrevBlock {
  width: 100%;
  background-color: rgba(229, 229, 229, 0.782);
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  transition: background-color 0.3s ease;

  img {
    width: 350px;
  }

  .waitingTitle {
    font-size: 22px;
    font-weight: 600;
    color: #a77a00;
    margin-bottom: 8px;
  }

  .waitingDescription {
    font-size: 18px;
    color: #70694b;
  }
}