.quizPreview {
  h3 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1.5px solid orange;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.QuizListpreview {
  width: 100%;
  height: calc(100vh - 280px);
  overflow: auto;
}

.questionPreview {
  margin-bottom: 14px;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  p {
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;
  }
}

.answersTable {
  width: 100%;
  border-collapse: collapse;
  margin: 12px 0px;

  th,
  td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
  }

  th {
    background-color: #ffffff;
    color: #333333;
    font-weight: bold;
  }

  td {
    background-color: #f4f6f8;
    color: #333333;
  }
}

.correctAnswerRow td {
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
}